<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listar Transações</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'finances/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="secao-total">
            <div class="entrada">
                <h2>Total de Entradas: R$ {{ total_entradas|floatformat:2 }}</h2>
            </div>
            <div class="saida">
                <h2>Total de Saídas: R$ {{ total_saidas|floatformat:2 }}</h2>
            </div>
            <br>
            <div class="total">
                <h2>Acumulado: R$ {{ total|floatformat:2 }}</h2>
            </div>
        </div>
        <div class="right">
            <a class="left-link" href="{% url 'nova_transacao' %}">Adicionar Nova Transação</a>
            <a class="right-link" href="{% url 'relatorio_transacoes' %}">Ver Relatório de Transações</a>
        </div>
        <h1>Lista de Transações</h1>
        <table>
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for transacao in page_obj %}
                    <tr>
                        <td>{{ transacao.categoria.nome }}</td>
                        <td>{{ transacao.descricao }}</td>
                        <td>{{ transacao.tipo }}</td>
                        <td class="{% if transacao.tipo == 'entrada' %}entrada{% else %}saida{% endif %}">
                            R$ {{ transacao.valor }}
                        </td>
                        <td>{{ transacao.data }}</td>
                        <td>
                            <a class="edit-link" href="{% url 'editar_transacao' transacao.pk %}">Editar</a> |
                            <a class="del-link" href="{% url 'excluir_transacao' transacao.pk %}">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Controles de Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="right-link" href="?page=1">&laquo; primeira</a>
                    <a class="right-link" href="?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class="right-link" href="?page={{ page_obj.next_page_number }}">próxima</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>
